{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  },
  "rules": {
    "global-require": 0,
    "no-underscore-dangle": 0,
    "react/prefer-stateless-function": 0,
    "max-len": 0,
  }
}