$white = #FFF;
$black = #000;
$grey = #B8B8B8;
$dark-grey = #474747;
$red = #CC323B;
$light-grey = #EDEDED;
$bright-red = #ED2F39;
$dark-red = #9A1A22;
$grey-red = #B3555A;
$light-red = #CB333C;
$dark-light-red = #981A20;
$bright-light-red = #EC303A;
$grey2 = #E6E6E6;
$grey3 = #9D9D9D;
$drak-grey = #3E3E3E;
